#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.onPage{
  background-color: rgb(164, 164, 209);
  border: black 2px solid;
  padding: 2rem;
}
.incdecButton{
  border: black 1px solid;
  margin: 1rem;
  background-color: yellowgreen;
}
.incdecButton:hover{
  background-color: greenyellow;
}
 
.onPageChild{
  margin: 0.5rem;
  border: black 1px solid;
  padding: 1rem;
  background-color: white;
}
.question-area{
  margin-top: 2rem;
  border: black 2px solid;
  padding: 2rem;
  background-color: lightgrey;
}